on: [push, pull_request]
name: Build binaries

jobs:
  build-macos:
    strategy:
      matrix:
        go-version: ["1.17"]
        os: [macos-latest]
    runs-on: ${{ matrix.os }}
    env:
      CGO_ENABLED: 1
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Calculate git version and add it to the environment
        shell: bash
        run: |
          echo "GIT_VERSION=$(git describe --tags)" >> $GITHUB_ENV

      - name: Build macos binary
        run: |
          go build -o build/macos/smimesign -ldflags "-X main.versionString=${{ env.GIT_VERSION }}" .

      - name: Tar the macOS binary
        run: |
          cd build/macos && tar -czvf smimesign-macos-${{ env.GIT_VERSION }}.tgz smimesign

      - name: Upload build folder to the action
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4
        with:
          name: build
          path: build/

      - name: Upload macOS files to the release
        uses: softprops/action-gh-release@2d72d869af3bf23602f9593a1e3fd739b80ac1eb
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          files: |
            build/macos/smimesign-macos-${{ env.GIT_VERSION }}.tgz

  build-windows:
    strategy:
      matrix:
        go-version: ["1.17"]
        os: [windows-latest]
    runs-on: ${{ matrix.os }}
    env:
      CGO_ENABLED: 1
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Calculate git version and add it to the environment
        shell: bash
        run: |
          echo "GIT_VERSION=$(git describe --tags)" >> $GITHUB_ENV

      - name: Calculate bare git version and add it to the environment
        shell: bash
        run: |
          if [[ "${GIT_VERSION}" =~ ^v([[:digit:]]+\.[[:digit:]]+\.[[:digit:]]+)(-[A-za-z0-9-]*)? ]]
          then
            echo "BARE_GIT_VERSION=${BASH_REMATCH[1]}" >> $GITHUB_ENV
          else
            echo "Could not calculate the bare git version for: ${GIT_VERSION}"
            exit 1
          fi

      - name: Setup MSYS2 (MINGW64) toolchains
        uses: msys2/setup-msys2@4f806de0a5a7294ffabaff804b38a9b435a73bda # v2
        with:
          msystem: MINGW64
          update: true
          install: >-
            mingw-w64-x86_64-toolchain
            mingw-w64-i686-toolchain
            mingw-w64-x86_64-openssl

      - name: Build amd64 (mingw-w64)
        shell: msys2 {0}
        run: |
          CC=x86_64-w64-mingw32-gcc GOARCH=amd64 go build -o "build/amd64/smimesign.exe" -ldflags "-X main.versionString=${GIT_VERSION}" .

      - name: Build 386 (mingw-w64)
        shell: msys2 {0}
        run: |
          CC=i686-w64-mingw32-gcc GOARCH=386 go build -o "build/386/smimesign.exe" -ldflags "-X main.versionString=${GIT_VERSION}" .

      - name: Sign amd64 and 386
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          .\windows-installer\signtool.exe sign /tr http://timestamp.digicert.com /td sha256 /fd sha256 /p ${{ secrets.PFX_PASSWORD }} /f windows-installer\codesign.pfx build/amd64/smimesign.exe
          .\windows-installer\signtool.exe sign /tr http://timestamp.digicert.com /td sha256 /fd sha256 /p ${{ secrets.PFX_PASSWORD }} /f windows-installer\codesign.pfx build/386/smimesign.exe

      - name: Create installer
        shell: bash
        run: |
          GIT_VERSION=${{ env.GIT_VERSION }} BARE_GIT_VERSION=${{ env.BARE_GIT_VERSION }} iscc windows-installer/inno-setup-smimesign-installer.iss

      - name: Sign installer
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          .\windows-installer\signtool.exe sign /tr http://timestamp.digicert.com /td sha256 /fd sha256 /p ${{ secrets.PFX_PASSWORD }} /f windows-installer\codesign.pfx build\installer\smimesign-windows-*.exe

      - name: Create zips for release upload
        run: |
          Compress-Archive -Path build\amd64\smimesign.exe -DestinationPath build\amd64\smimesign.zip
          Compress-Archive -Path build\386\smimesign.exe -DestinationPath build\386\smimesign.zip

      - name: Rename zips for release upload
        shell: bash
        run: |
          mv build/amd64/smimesign.zip build/amd64/smimesign-windows-amd64-${{ env.GIT_VERSION }}.zip
          mv build/386/smimesign.zip build/386/smimesign-windows-386-${{ env.GIT_VERSION }}.zip

      - name: Upload build folder to the action
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4
        with:
          name: build
          path: build/

      - name: Upload Windows files to the release
        uses: softprops/action-gh-release@2d72d869af3bf23602f9593a1e3fd739b80ac1eb
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          files: |
            build/amd64/smimesign-windows-amd64-${{ env.GIT_VERSION }}.zip
            build/386/smimesign-windows-386-${{ env.GIT_VERSION }}.zip
            build/installer/smimesign-windows-*.exe
