jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        go-version: ["1.17", "1.x"]

    runs-on: windows-latest
    env:
      CGO_ENABLED: 1

    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Install Go
        # zizmor: ignore[cache-poisoning]
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Setup MSYS2 (MINGW64)
        uses: msys2/setup-msys2@4f806de0a5a7294ffabaff804b38a9b435a73bda # v2
        with:
          msystem: MINGW64
          update: true
          path-type: inherit
          install: >-
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-openssl

      - name: Test
        shell: msys2 {0}
        run: |
          go test -v ./...