on: [push, pull_request]
name: Test macOS

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          # Go 1.14 does not have darwin/arm64 binaries. Use an Intel runner.
          - go-version: "1.14"
            os: macos-13
          - go-version: "1.x"
            os: macos-latest

    runs-on: ${{ matrix.os }}
    env:
      CGO_ENABLED: 1

    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Install Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version: ${{ matrix.go-version }}
          cache: true

      - name: Test
        run: go test -v ./...
